#business-portrait {
padding:20px 25px;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto
}


body {
  background-attachment: fixed;
  background: url(ocean-background.jpeg) #333333;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
	color: #d9e6f2;
	width:400px;
	margin: auto;
	text-align: center; 
}

h1, h2, h3, h4 {
	color: #d9e6f2;
	width:300px;
	margin: auto;
	text-align: center; 
}

h1 {
  font-size: 175%;
}

h2, h3, h4 {
  font-size: 125%;
}

table, th, td {
   border: 1px solid white;
}

table {
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	background-color: #264d73;
    color: white;
}

ol, ul{
	color: #d9e6f2;
}

#projects-worked-on{
	float: left;
	width: 50%;
}

#my-skills{
	float: right;
	width: 50%;
}

		a:link    { color: white; } /* unvisited link */
        a:visited { color: aqua;} /* visited link */
        a:hover   { color: purple; } /* mouse over link */
        a:active  { color: teal; } /* selected link */